:root {
    --background: #e5e5e5;
    --green: #0d606f;
    --orange: #f2785c;
    --white: #ffffff;
}

body {
    height: 100vh;
    
    font-size: 1rem;
    font-family: 'Aleo', serif;
    font-family: 'Magra', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: var(--white);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Header start */

.header {
    height: 90px;
}

.header__inner {
    position: relative;
    height: 90px;
    width: 100%;
    padding: 0 8.33% 0 8.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(242, 120, 92, 0.7);
}

.header__inner::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(assets/bg.png);
    z-index: -1;
}

.header-banner {
    display: flex;
    align-items: center;
    /* margin: 25px 0 34px; */
}

.banner__name {
    margin-left: 6px;
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
}

.header-nav__list {
    padding: 0;
    display: flex;
}

.header-nav__list li:not(:first-child) {
    margin-left: 42px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
}

.header__button {
    padding: 10px 30px;

    font-size: 1rem;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;

    color: var(--white);
    border: none;
    border-radius: 10px;
    background-color: var(--green);
}

/* Header END */


/* ========================================== */
/* Main */
/* *****Review***** */
.preview {
    width: 100%;
}

.preview__inner {
    width: 61.94%;
    margin-left: 8.33%;
    margin-top: 30px;
}

.preview-title {
    margin-top: 30px;

    font-size: 5rem;
    font-family: 'Aleo', serif;
    font-weight: 700;
    line-height: 96px;
}

.preview-text {
    margin-bottom: 46px;

    font-size: 1.25rem;
    font-family: 'Aleo', serif;
    font-style: italic;
    line-height: 24px;
}

.preview-search {
    min-width: 100%;
    padding: 18px 18px 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 16px;
}

.search__input {
    margin-left: 41px;

    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    border: none;
    background: none;

}

.search__input::placeholder {
    color: var(--orange);
}

.search__button {
    padding: 13.5px 32.5px;

    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    font-weight: 500;

    color: var(--white);
    background-color: var(--green);
    border-radius: 10px;
    border: none;
}

/* *****Review END***** */

/* *****Steps***** */

.steps {
    min-width: 100%;
    margin-top: 197px;
    padding-top: 104px;
    background-color: var(--white);
}

.steps__inner {
    width: 81.74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    margin-bottom: 40px;

    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    color: var(--orange);
    font-size: 40px;
    text-transform: uppercase;
}

.steps__list {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__item-width247px {
    width: 247px;
    margin-right: 231px;
}

.steps__item-width222px {
    width: 222px;
    margin-right: 160px;
}

.steps__item-width317px {
    width: 317px;
}


.steps__item-logo {
    width: 100px;
    height: 100px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
    background-color: var(--orange);
}

.steps__item-text {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 1.20rem;
    color: var(--orange);
}

/* *****Steps END***** */

/* *****Destination***** */
.destination {
    background-color: var(--white);
    padding-top: 97px;
    overflow: hidden;
    padding-bottom: 80px;
}

.destination__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.slider__list .slider__item:not(:last-child) {
    margin-right: 60px;
}

.slider__item {
    position: relative;
    height: 800px;
    width: 800px;
    border-radius: 16px;
}

.slider__item-spain {
    background: url(assets/spain.png) center center / cover no-repeat;
}

.slider__item-japan {
    background: url(assets/japan.png) center center / cover no-repeat;
}

.slider__item-usa {
    background: url(assets/usa.png) center center / cover no-repeat;
}


.contry-name {
    position: absolute;
    left: 15px;
    bottom: 40px;

    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
}

.button__list {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.button__list .button__item:not(:last-child) {
    margin-right: 10px;
}

.button__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f2785c;
    opacity: 50%;
}

.button__item-active {
    opacity: 1;
}

.button__destination {
    padding: 10px 32px 10px 32px;

    border: 0;
    border-radius: 10px;
    background-color: var(--green);
}

.button__inner {
    display: flex;
    align-items: center;
}

.button-icon {
    margin-right: 10px;
}

.button-text {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    color: var(--white);
    font-size: 24px;
}

/* *****Destination END***** */

/* *****Stories ***** */

.stories {
    padding-bottom: 41px;
}

.stories__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(256, 256, 256, 0.7);
}

.places {
    position: relative;

    display: flex;
    justify-content: center;
}

.places::before {
    content: '';
    height: 1331px;
    width: 1440px;
    background: url(assets/stories_bg.jpg) center center / cover no-repeat;
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
}

.places__inner {
    width: 83.33%;
    padding-top: 40px;

    display: flex;
    align-items: center;
}

.place__item {
    display: flex;

    margin-bottom: 30px;
}

.place__image {
    border-radius: 16px;

    margin-right: 40px;
}

.place__description {
    font-family: 'Aleo', serif;
    color: var(--green);
}

.description__title {
    margin-bottom: 24px;

    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
}

.description__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

